/* ==========================================================================
   Utility classes
   ========================================================================== */

/* Floats
   ========================================================================== */
.u-clearfix {
	@include MicroClearfix();
}

.u-centerBlock {
	@include CenterBlock();
}

.u-pull--right {
	float: right !important;
}

.u-pull--left {
	float: left !important;
}



/* Toggling content
   ========================================================================== */

/**
 * Only display content to screen readers
 * See: http://a11yproject.com/posts/how-to-hide-content/
 */
.u-screenReaderOnly{
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}

/**
 * Use in conjunction with .sr-only to only display content when it's focused.
 * Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
 * Credit: HTML5 Boilerplate
 */
.u-screenReaderOnly--focusable{
	&:active,
	&:focus {
		position: static;
		width: auto;
		height: auto;
		margin: 0;
		overflow: visible;
		clip: auto;
	}
}

.u-hide {
	display: none !important;
}

.u-show {
	display: block !important;
}

.u-invisible {
	visibility: hidden;
}

.u-textHide {
	@include TextHide();
}




/* For Affix plugin
   ========================================================================== */
.u-affix {
	position: fixed;
}

/* Spacers according to baseline
   ========================================================================== */

@mixin SpacingUtilities($element) {

	/* Vertical */
	.u-#{$element}Vertical--none{#{$element}-top: 0; #{$element}-bottom: 0;}
	.u-#{$element}Top--none{#{$element}-top: 0;}
	.u-#{$element}Bottom--none{#{$element}-bottom: 0;}

	.u-#{$element}Vertical--oneEight {#{$element}-top:    ($line-height-absolute / 8); #{$element}-bottom: ($line-height-absolute / 8);}
	.u-#{$element}Top--oneEight      {#{$element}-top:    ($line-height-absolute / 8);}
	.u-#{$element}Bottom--oneEight   {#{$element}-bottom: ($line-height-absolute / 8);}

	.u-#{$element}Vertical--quarter {#{$element}-top:    ($line-height-absolute / 4); #{$element}-bottom: ($line-height-absolute / 4);}
	.u-#{$element}Top--quarter      {#{$element}-top:    ($line-height-absolute / 4);}
	.u-#{$element}Bottom--quarter   {#{$element}-bottom: ($line-height-absolute / 4);}

	.u-#{$element}Vertical--half{#{$element}-top: ($line-height-absolute / 2); #{$element}-bottom: ($line-height-absolute / 2);}
	.u-#{$element}Top--half{#{$element}-top: ($line-height-absolute / 2);}
	.u-#{$element}Bottom--half{#{$element}-bottom: ($line-height-absolute / 2);}

	.u-#{$element}Vertical--whole{#{$element}-top: ($line-height-absolute); #{$element}-bottom: ($line-height-absolute);}
	.u-#{$element}Top--whole{#{$element}-top: ($line-height-absolute);}
	.u-#{$element}Bottom--whole{#{$element}-bottom: ($line-height-absolute);}

	.u-#{$element}Vertical--double{#{$element}-top: ($line-height-absolute * 2); #{$element}-bottom: ($line-height-absolute * 2);}
	.u-#{$element}Top--double{#{$element}-top: ($line-height-absolute * 2);}
	.u-#{$element}Bottom--double{#{$element}-bottom: ($line-height-absolute * 2);}



	.u-#{$element}Vertical--triple,
	.u-#{$element}Bottom--triple,
	.u-#{$element}Vertical--quadruple,
	.u-#{$element}Bottom--quadruple{
		#{$element}-bottom: ($line-height-absolute * 2);
	}

	.u-#{$element}Top--quadruple,
	.u-#{$element}Top--triple,
	.u-#{$element}Vertical--triple,
	.u-#{$element}Vertical--quadruple,{
		#{$element}-top: ($line-height-absolute * 2);
	}

	@media (min-width: $screen--small) {
		.u-#{$element}Vertical--triple{#{$element}-top: ($line-height-absolute * 3); #{$element}-bottom: ($line-height-absolute * 3);}
		.u-#{$element}Top--triple{#{$element}-top: ($line-height-absolute * 3);}
		.u-#{$element}Bottom--triple{#{$element}-bottom: ($line-height-absolute * 3);}

		.u-#{$element}Vertical--quadruple{#{$element}-top: ($line-height-absolute * 4); #{$element}-bottom: ($line-height-absolute * 4);}
		.u-#{$element}Top--quadruple{#{$element}-top: ($line-height-absolute * 4);}
		.u-#{$element}Bottom--quadruple{#{$element}-bottom: ($line-height-absolute * 4);}
	}



	.u-#{$element}Vertical--minus-whole{#{$element}-top: -($line-height-absolute); #{$element}-bottom: -($line-height-absolute);}
	.u-#{$element}Top--minus-whole{#{$element}-top: -($line-height-absolute);}
	.u-#{$element}Bottom--minus-whole{#{$element}-bottom: -($line-height-absolute);}

	.u-#{$element}Vertical--minus-half{#{$element}-top: -($line-height-absolute / 2); #{$element}-bottom: -($line-height-absolute / 2);}
	.u-#{$element}Top--minus-half{#{$element}-top: -($line-height-absolute / 2);}
	.u-#{$element}Bottom--minus-half{#{$element}-bottom: -($line-height-absolute / 2);}

	.u-#{$element}Vertical--minus-quarter {#{$element}-top:    -($line-height-absolute / 4); #{$element}-bottom: -($line-height-absolute / 4);}
	.u-#{$element}Top--minus-quarter      {#{$element}-top:    -($line-height-absolute / 4);}
	.u-#{$element}Bottom--minus-quarter   {#{$element}-bottom: -($line-height-absolute / 4);}



	/* Horizontal */
	.u-#{$element}Horizontal--none{#{$element}-left: 0; #{$element}-right: 0;}
	.u-#{$element}Left--none{#{$element}-left: 0;}
	.u-#{$element}Right--none{#{$element}-right: 0;}

	.u-#{$element}Horizontal--half{#{$element}-left: ($line-height-absolute / 2); #{$element}-right: ($line-height-absolute / 2);}
	.u-#{$element}Left--half{#{$element}-left: ($line-height-absolute / 2);}
	.u-#{$element}Right--half{#{$element}-right: ($line-height-absolute / 2);}

	.u-#{$element}Horizontal--whole{#{$element}-left: ($line-height-absolute); #{$element}-right: ($line-height-absolute);}
	.u-#{$element}Left--whole{#{$element}-left: ($line-height-absolute);}
	.u-#{$element}Right--whole{#{$element}-right: ($line-height-absolute);}

	.u-#{$element}Horizontal--double{#{$element}-left: ($line-height-absolute * 2); #{$element}-right: ($line-height-absolute * 2);}
	.u-#{$element}Left--double{#{$element}-left: ($line-height-absolute * 2);}
	.u-#{$element}Right--double{#{$element}-right: ($line-height-absolute * 2);}



	.u-#{$element}Horizontal--triple,
	.u-#{$element}Left--triple,
	.u-#{$element}Right--triple,
	.u-#{$element}Horizontal--quadruple,
	.u-#{$element}Left--quadruple,
	.u-#{$element}Right--quadruple{
		#{$element}-left: ($line-height-absolute * 2);
		#{$element}-right: ($line-height-absolute * 2);
	}

	@media (min-width: $screen--small) {
		.u-#{$element}Horizontal--triple{#{$element}-left: ($line-height-absolute * 3); #{$element}-right: ($line-height-absolute * 3);}
		.u-#{$element}Left--triple{#{$element}-left: ($line-height-absolute * 3);}
		.u-#{$element}Right--triple{#{$element}-right: ($line-height-absolute * 3);}

		.u-#{$element}Horizontal--quadruple{#{$element}-left: ($line-height-absolute * 4); #{$element}-right: ($line-height-absolute * 4);}
		.u-#{$element}Left--quadruple{#{$element}-left: ($line-height-absolute * 4);}
		.u-#{$element}Right--quadruple{#{$element}-right: ($line-height-absolute * 4);}
	}



	.u-#{$element}Horizontal--minus-whole{#{$element}-left: -($line-height-absolute); #{$element}-right: -($line-height-absolute);}
	.u-#{$element}Left--minus-whole{#{$element}-left: -($line-height-absolute);}
	.u-#{$element}Right--minus-whole{#{$element}-right: -($line-height-absolute);}

	.u-#{$element}Horizontal--minus-half{#{$element}-left: -($line-height-absolute / 2); #{$element}-right: -($line-height-absolute / 2);}
	.u-#{$element}Left--minus-half{#{$element}-left: -($line-height-absolute / 2);}
	.u-#{$element}Right--minus-half{#{$element}-right: -($line-height-absolute / 2);}
}

@include SpacingUtilities("padding");
@include SpacingUtilities("margin");

.u-lineHeight--double{
	line-height: 2;
}


.Horizontal-overflow{
	overflow: auto;

	@media (min-width: $screen--medium) {}
}
	.Horizontal-overflow-content{
		min-width: $screen--medium;

		@media (min-width: $screen--medium) {
			min-width: 0;
		}
	}

