<!-- ================ -->
<!--      Header      -->
<!-- ================ -->
<header class="App-header">
	<div class="Container">
		<div class="Row">
			<div class="Col--small--3">
				<img src="img/geel-logo.svg" alt="Logo Stad Geel" class="Image--responsive Brand">
			</div>
			<div class="Col--small--6">
				<div class="InputGroup">
					<input type="text" class="Form-control" placeholder="Zoek op geel.be">
					<span class="InputGroup-button">
						<button class="Button Button--primary" type="button">
							<i class="fa fa-search"></i>
							&nbsp;
							Zoeken
						</button>
					</span>
				</div>
			</div>
			<div class="Col--small--3 Text--right">
				<a href="#" class="Button Button--primary">
					<i class="fa fa-user"></i>
					&nbsp;
					Mijn Geel
				</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="#" class="Button Button--primary">
					Menu
				</a>
			</div>
		</div>
	</div>
</header>
